html, body {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}

.text-slider__title-main,
.hidden-nav:not(.hidden-nav--footer) a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}