// Easing
$ease-start: .2s ease-in;
$ease-end: .15s ease-out;

// Colors
$red: #e3001b;
$red-hover: #a10013;

$light-blue: #4285f4;
$dark-blue: #454552;
$black: #372f2d;
$green: #4cb050;
$light-gray: #f5f5f5;
$lighter-gray: #f1f1f1;
$gray: #a6acbc;