/*******************
      GENERAL
*******************/

.portfolio-item__subtitle,
.portfolio-item__text {
  color: #2e2e2e;
}

.portfolio-item__subtitle {
  margin: 0 0 2em;
  font-size: 1.5rem;
  line-height: .9;

  &--center {
    text-align: center;
    margin-bottom: 80px;
  }
}

.portfolio-item__text {
  margin: 0 0 2em;
  font-size: 1.25rem;
  line-height: 1.7;

  &--white {
    color: #fff;
  }

  &--without-margin {
    margin: 0;
  }

  &--max-width {
    max-width: 65.1282%;
  }
}

.portfolio-item__tasks,
.portfolio-item__result {
  position: relative;
  padding: 70px 0;

  &:before {
    z-index: -1;
    position: absolute;
    left: -6%;
    right: -6%;
    top: 0;
    bottom: 0;

    display: block;
    height: 100%;

    background-color: #f5f6f7;

    content: ""
  }
}



/*******************
   HEAD SECTION
*******************/

.portfolio-item__header {
  position: relative;
  margin-bottom: 320px;
  padding: 100px 70px 500px;
  background-color: #f5f6f7;
}

.portfolio-item__img {
  position: absolute;
  left: -14.73%;
  bottom: -154px;
}

.portfolio-item__main-info {
  position: absolute;
  bottom: -240px;
  right: 5.34%;

  width: 570px;
  margin: 0;
  padding: 100px 120px 100px 100px;

  background-color: #0066a1;
  list-style: none;
}

.portfolio-item__main-info-block:not(:last-child) {
  margin-bottom: 4.25em;
}

.portfolio-item__main-info-title,
.portfolio-item__main-info-text {
  color: #fff;
}

.portfolio-item__main-info-title {
  margin: 0 0 1.25em;
  font-size: 1.5rem;
  line-height: 1.25;
}

.portfolio-item__main-info-text {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.7;
}



/*******************
      SERVICES
*******************/

.portfolio-item__services {
  margin-bottom: 110px;
}

.portfolio-item__service-item {
  display: flex;
  background-color: #f5f6f7;
  cursor: pointer;
}

.portfolio-item__service-item-title {
  flex-basis: calc(100% - 270px);
  max-width: calc(100% - 270px);
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 30px;
  color: #2e2e2e;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 80px;
}

.portfolio-item__service-item-button {
  flex-basis: 270px;
  max-width: 270px;

  color: #fff;
  font-size: 1.3125rem;

  border: none;
  background-color: #2fc6f7;
  cursor: pointer;

  transition: .2s ease-in;
  transition-property: background-color;

  &:hover {
    background-color: #3ccfff;
    transition: .25s ease-out;
  }

  &:active {
    background-color: #2cbae8;
    transition: .025s;
  }

  &:focus {
    outline: none;
  }
}



/*******************
      TASKS
*******************/

.portfolio-item__tasks {
  margin-bottom: 290px;
}

.portfolio-item__tasks-row {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.portfolio-item__tasks-item {
  position: relative;

  flex-basis: calc(50% - 29px);
  min-height: 170px;
  padding: 40px 0 20px 48px;

  &:first-child {
    margin-right: 58px;
  }

  &:before {
    position: absolute;
    left: 13px;
    bottom: 0;

    display: block;
    height: calc(100% - 40px);
    width: 5px;

    background-color: #2fc6f7;

    content: "";
  }
}

.portfolio-item__tasks-num {
  position: absolute;
  left: 0;
  top: 0;

  display: block;
  width: 30px;
  height: 30px;

  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 28px;
  text-align: center;

  background-color: #2fc6f7;
  border-radius: 50%;
}

.portfolio-item__tasks-content {
  margin: 0;
  color: #2e2e2e;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.88;

  .green {
    color: #8cc63f;
  }
}

.portfolio-item__tasks-info {
  position: relative;

  margin-left: 48px;
  max-width: 522px;
  margin-top: 30px;
  padding-top: 30px;

  border-top: 1px solid #83838d;
}

.portfolio-item__tasks-info-button {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  transition: .2s ease-in;

  &:hover,
  &:focus {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: .25s ease-out;
  }

  &:focus {
    outline: none;
  }

  svg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    margin: auto;

    path {
      fill: #2e2e2e;
    }
  }
}

.portfolio-item__tasks-info-content {
  z-index: 1;
  position: absolute;
  top: 130px;
  left: 90px;

  width: 930px;
  padding: 60px;
  box-shadow: 0 10px 25px 7px rgba(0, 0, 0, 0.18);
  background-color: #83838d;

  transition: .2s ease-in;
  opacity: 0;
  visibility: hidden;
}

.portfolio-item__tasks-info-p {
  margin: 0;

  color: #fff;
  font-size: 1.25rem;
  line-height: 1.7;

  &:not(:last-child) {
    margin-bottom: 1.7em;
  }
}

.portfolio-item__tasks-info-button {
  &:focus + .portfolio-item__tasks-info-content,
  & + .portfolio-item__tasks-info-content:hover {
    visibility: visible;
    opacity: 1;
    transition: .25s ease-out;
  }
}



/*******************
      RESULT
*******************/

.portfolio-item__result {
  margin-bottom: 100px;
  padding-bottom: 150px;
}

.portfolio-item__results {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 466px;

  li {
    padding: 26px 0 26px 26px;
    border-left: 5px solid #2fc6f7;

    color: #2e2e2e;
    font-size: 1.25rem;
    line-height: 1.7;

    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }
}

.portfolio-item__result-image {
  z-index: -1;
  position: absolute;
  right: -20.51%;
  bottom: -15px;

  max-width: 84.27vw;
}

@media only screen and (max-width: 1700px) {
  .portfolio-item__result-image {
    right: -10%;
  }
}

@media only screen and (max-width: 1470px) {
  .portfolio-item__result-image {
    right: -2.5%;
  }
}

.portfolio-item__result-after-cont {
  border-top: 5px solid #f5f6f7;
}

.portfolio-item__result-text {
  max-width: 46.66%;
  margin: 1em 0 1em auto;
  text-align: right;
  color: #2e2e2e;
  font-size: 1.25rem;
  line-height: 1.7;
}

.portfolio-item__result-conc-img {
  margin-bottom: -1em;
  max-width: 39.94%;
}



/*******************
      PROCESS
*******************/

.portfolio-item__link-block {
  display: flex;
  align-items: center;
  padding: 1.5em;
  margin-bottom: 110px;

  background-color: #8cc63f;
  color: #fff;

  p {
    flex-basis: calc(100% - 300px - 60px);
    max-width: calc(100% - 300px - 60px);
    margin-right: 60px;
  }

  button {
    flex-basis: 300px;
    max-width: 300px;
  }
}



/*******************
      SUMMURY
*******************/

$summury-space: 30px;

.portfolio-summury {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -#{$summury-space} #{120px - $summury-space} 0;
  padding: 0;

  list-style: none;
}

.portfolio-summury__item {
  display: inline-flex;
  align-items: center;
  flex-basis: calc(50% - #{$summury-space});
  max-width: calc(50% - #{$summury-space});
  margin-bottom: $summury-space;
  margin-right: $summury-space;
  padding: 45px 40px 45px 100px;

  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.88;

  background: #0066a1 url('../images/portfolio/select.png') no-repeat 40px center;
}



/*******************
      FOOTER
*******************/

.portfolio-item__navigation {
  margin: 80px auto 75px;
}

.portfolio-item__navigation-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: -30px;

  a {
    flex-basis: calc(33.3333% - 30px);
    max-width: calc(33.3333% - 30px);
    margin-right: 30px;
  }
}