.company.template-width
    h1.h-line Услуги

    ul.grid-row.services
        li.grid-col-6
            a(href="services-item.html") Доставка лесопродукции
        li.grid-col-6
            a(href="services-item.html") Предоставление подвижного состава
        li.grid-col-6
            a(href="services-item.html") Лесная деятельность
        li.grid-col-6
            a(href="services-item.html") Разработка и согласование эскизов и схем
        li.grid-col-6
            a(href="services-item.html") Доставка техники
        li.grid-col-6
            a(href="services-item.html") Выполнение функций грузоотправителя и грузополучателя
        li.grid-col-6
            a(href="services-item.html") Доставка металлоконструкций
        li.grid-col-6
            a(href="services-item.html") Мультимодальные перевозки (смешанные виды транспорта)
        li.grid-col-6
            a(href="services-item.html") Доставка сыпучих грузов
        li.grid-col-6
            a(href="services-item.html") Услуги по оптимизации сокращения срока доставки груза до станции назначения
        li.grid-col-6
            a(href="services-item.html") Доставка негабаритных грузов
        li.grid-col-6
            a(href="services-item.html") Консультационные, платежно-финансовые услуги по перевозкам и оформлению документов
        li.grid-col-6
            a(href="services-item.html") Контейнерные перевозки
        li.grid-col-6
            a(href="services-item.html") Аутсорсинг транспортных услуг
        