.services-item__header {
  margin: 0 auto 1.166666667em;
  max-width: 16.133333333em;
  color: #2e2e2e;
  line-height: 1.166666667;
  text-align: center;
}

.services-item__wrapper {
  max-width: 770px;
  margin: 0 auto;
}



/*******************
     PARAGRAPGH
*******************/

.services-item__p {
  margin: 0 0 2em;
  font-size: 1.25rem;
  line-height: 1.7;
  color: #2e2e2e;

  &--gold {
    color: #8f5712;
  }

  &--without-margin {
    margin: 0;
  }
}



/*******************
   SECOND HEADER
*******************/

.services-item__sub-h {
  margin: 0 0 1em;
  color: #2e2e2e;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.88;
}


/*******************
       GOLD
*******************/

.services-item__gold {
  display: flex;
  align-items: center;
  padding: 1.25em 1.875em;
  margin: 60px 0 60px;

  border-radius: 6px;
  border: 2px solid #d7bd55;
  background: #e7d53a;
  background-image: linear-gradient(135deg, #e8ca47 0%, #f2d960 34%, #ffee83 100%);

  p {
    flex-basis: calc(100% - 240px - 20px);
    max-width: calc(100% - 240px - 20px);
    margin-right: 20px;
    font-weight: 700;
  }

  a {
    flex-basis: 240px;
    max-width: 240px;
  }
}


/*******************
      SHOW ALL
*******************/

.inner-page {
  position: relative;
}

.services-item__show-all {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  padding-top: 92px;
  height: 100vh;
  width: 100px;

  text-align: center;
  color: #fefefe;

  background-color: rgba(64,64,64,.5);
  cursor: pointer;
  will-change: transform;

  &--hidden {
    display: none;
  }

  &:focus {
    outline: none;
  }

  &:before,
  &:after {
    position: absolute;
    left: 0;
    right: 0;

    display: block;
    margin: auto;
    width: 19px;

    content: "";
  }

  &:before {
    top: 60px;
    height: 14px;
    border-top: 2px solid #fefefe;
    border-bottom: 2px solid #fefefe;
  }

  &:after {
    top: 66px;
    height: 2px;
    background-color: #fefefe;
  }

  &.fix-bottom.fix-top {
    position: fixed;
    top: 0;
  }

  &.fix-top {
    top: auto;
    bottom: 0;
  }
}


// Colorbox

.services-item__all--hidden {
  display: none;
}

.services-item__all-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -30px -15px 0;
  padding: 0;

  list-style: none;

  li {
    flex-basis: calc(50% - 30px);
    max-width: calc(50% - 30px);
    margin-right: 30px;
    margin-bottom: 15px;

    color: #2e2e2e;
    font-size: 1.125rem;
    line-height: 1.7;

    background-color: #f5f6f7;
    transition: .2s ease-in-out;
    transition-property: background-color, color;

    &:hover {
      background-color: #83838d;
      color: #fff;
    }
  }

  a {
    display: block;
    padding: 10px 30px;
  }
}

.show-all-modal {
  .services-item__all {
    max-width: 1030px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    background-color: #fff;
    overflow: hidden;
  }

  .fancybox-bg {
    background-color: #404040;
    opacity: .5;
  }

  button {
    position: fixed;
    left: 0;
    top: 0;

    height: 1000px;
    width: 100px;

    font-size: 0;

    border-radius: 0;
    background-color: #404040;
    border: none;
    transition: .2s ease-in-out;

    &:hover {
      background-color: #404040;
      opacity: .9;
    }

    &:before,
    &:after {
      position: absolute;
      left: 0;
      right: 0;

      display: block;
      margin: auto;
    }

    &:before {
      top: 60px;
      width: 19px;
      height: 19px;
      background: url('../images/portfolio/close.png') no-repeat center;
      content: "";
    }

    &:after {
      top: 95px;
      text-align: center;
      color: #fefefe;
      content: "закрыть";
      font-family: 'Open Sans', sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1;
    }
  }
}