include ../button/button
.services-item
    a.services-item__show-all.services-item__show-all--hidden(href="#all-services") все услуги

    h2.services-item__header Доработка корпоративного портала Битрикс24
    .services-item__wrapper
        p.services-item__p.
            Прежде, чем Вы решите дорабатывать Битрикс24, Вам необходимо убедиться, что то, что Вы хотите реализовать,
            нельзя сделать с помощью настройки Битрикс24.

        h3.services-item__sub-h Почему?

        p.services-item__p.
            Потому что настройка Битрикс24 дешевле, чем доработка.
            Для того, чтобы понять, можно ли реализовать то, что Вы хотите с помощью настройки Битрикс24,
            проконсультируйтесь с нашим специалистом.

        .services-item__gold
            p.services-item__p.services-item__p--gold.services-item__p--without-margin.
                Являемся Золотым партнером Битрикс24
            +button("dist/html/about.html", "подробнее")(class="button button--gold")

        h3.services-item__sub-h Стоимость

        p.services-item__p.
            Программная доработка на практике начинается от 30 часов и может достигать нескольких сотен часов. #[br]
            Стоимость часа по доработкам – 2 000 руб.

        include ../services-form/services-form

        .services-item__all#all-services
            h3.services-item__sub-h Все услуги
            ul.services-item__all-list
                li
                    a(href="/dist/html/services-item.html") Купить Битрикс24 с дополнительными бонусами
                li
                    a(href="/dist/html/services-item.html") Комплексное внедрение Битрикс24 под ключ
                li
                    a(href="/dist/html/services-item.html") Консультация по выбору тарифа / редакции Битрикс24
                li
                    a(href="/dist/html/services-item.html") Маркетинговые сценарии работы с Битрикс24 для увеличения объема продаж
                li
                    a(href="/dist/html/services-item.html") У меня уже есть Битрикс24! Получить дополнительные бонусы
                li
                    a(href="/dist/html/services-item.html") Моделирование и автоматизация бизнес процессов
                li
                    a(href="/dist/html/services-item.html") Поддержка Битрикс24
                li
                    a(href="/dist/html/services-item.html") Настройка Битрикс24 (настройка телефонии, интеграция с 1С и т.д.)
                li
                    a(href="/dist/html/services-item.html") Доработка корпоративного портала Битрикс24
                li
                    a(href="/dist/html/services-item.html") Написание инструкций и обучение сотрудников работе с Битрикс24
                li
                    a(href="/dist/html/services-item.html") Разработка внешних приложений для Битрикс24
