.services-item.template-width
    .grid-row
        .grid-col-8
            h3.h-line Консультационные, платежно-финансовые услуги по перевозкам и оформлению документов

    .grid-row
        .grid-col-8
            img(src="../images/services/1.jpg")

            h4 Заголовок подраздела
            p.
                Хроника успешных событий, сопровождающих развитие Транспортно-экспедиционной 
                компании ООО «ГлавТранс», насчитывает уже более восьми лет. Компания создана 
                в апреле 2008 года с целью организации и предоставления полного комплекса услуг 
                по перевозке любых грузов с персональным подходом к каждому клиенту по выгодным 
                тарифам с максимальной точностью и эффективностью.

            p.
                С первых же дней создания, несмотря на кризисные времена 2008 года, молодое 
                транспортное предприятие, стало активно развиваться, заключая долгосрочные, 
                действующие до настоящего времени контракты с крупными компаниями, успешные 
                договора с прочими организациями.
                
            p.
                С каждым годом компания расширяла географию своей деятельности и выросла до 
                надежного, крепкого, качественного, профессионального лидера транспортного 
                сегмента рынка.

            p.
                Опытная команда сотрудников, развитая логистическая сеть, большое количество 
                надежных российских и международных партнеров — все это позволяет нас 
                гарантировать услуги высшего качества.

            p.box.
                Опытная команда сотрудников, развитая логистическая сеть, большое количество 
                надежных российских и международных партнеров — все это позволяет нас 
                гарантировать услуги высшего качества.

            p.
                С первых же дней создания, несмотря на кризисные времена 2008 года, молодое 
                транспортное предприятие, стало активно развиваться, заключая долгосрочные, 
                действующие до настоящего времени контракты с крупными компаниями, успешные 
                договора с прочими организациями.

            .grid-row.service-item__figure-cont
                .grid-col-6
                    figure.services-item__figure
                        div(style="background-image: url('../images/services/left.jpg');")
                        figcaption Название изображения

                .grid-col-6
                    figure.services-item__figure
                        div(style="background-image: url('../images/services/right.jpg');")
                        figcaption Название изображения


            h4 Заголовок подраздела
            ul.u-list
                li. 
                    Мы дорожим репутацией нашей компании, строго следуем правилам деловой 
                    этики и действуем в рамках правовых норм и законодательства Российской 
                    Федерации
                
                li.
                    Мы ориентируемся на потребности клиентов нашей компании и гарантируем 
                    высокое качество продукции и услуг

                li.
                    Мы ценим жизнь и здоровье человека, несем ответственность за соблюдение 
                    требований охраны труда и экологической безопасности

        .grid-col-4
            include ../button/button
            .toogle-services
                +button("#services-list", "Меню услуг", false, "#services-list")(class="btn btn--primary btn--fix-width", id="toggle-services")
                div#services-list.modal-content.modal-content--wide(style="display: none;")
                    h3.h-line.h-upper.modal-header Меню услуг
                    ul.grid-row.services
                        li.grid-col-6
                            a.active(href="services-item.html") Доставка лесопродукции
                        li.grid-col-6
                            a(href="services-item.html") Предоставление подвижного состава
                        li.grid-col-6
                            a(href="services-item.html") Лесная деятельность
                        li.grid-col-6
                            a(href="services-item.html") Разработка и согласование эскизов и схем
                        li.grid-col-6
                            a(href="services-item.html") Доставка техники
                        li.grid-col-6
                            a(href="services-item.html") Выполнение функций грузоотправителя и грузополучателя
                        li.grid-col-6
                            a(href="services-item.html") Доставка металлоконструкций
                        li.grid-col-6
                            a(href="services-item.html") Мультимодальные перевозки (смешанные виды транспорта)
                        li.grid-col-6
                            a(href="services-item.html") Доставка сыпучих грузов
                        li.grid-col-6
                            a(href="services-item.html") Услуги по оптимизации сокращения срока доставки груза до станции назначения
                        li.grid-col-6
                            a(href="services-item.html") Доставка негабаритных грузов
                        li.grid-col-6
                            a(href="services-item.html") Консультационные, платежно-финансовые услуги по перевозкам и оформлению документов
                        li.grid-col-6
                            a(href="services-item.html") Контейнерные перевозки
                        li.grid-col-6
                            a(href="services-item.html") Аутсорсинг транспортных услуг

            include ../callback/callback
