ul.mobile-menu
    li.mobile-menu__item
        a.mobile-menu__item-link(href="/dist/html/services.html")
            include ../../images/svg/menu/list.svg
            span.mobile-menu__item-label Услуги

    li.mobile-menu__item
        a.mobile-menu__item-link(href="/dist/html/contacts.html")
            include ../../images/svg/menu/telephone.svg
            span.mobile-menu__item-label Контакты

    li.mobile-menu__item.mobile-menu__item--more
        a.mobile-menu__item-link.mobile-menu__item-link--more(href="#")
            include ../../images/svg/menu/more.svg
            span.mobile-menu__item-label Ещё
        ul.mobile-menu__more
            li.mobile-menu__more-item
                a.mobile-menu__more-link(href="/dist/html/portfolio.html")
                    include ../../images/svg/menu/menu.svg
                    span.mobile-menu__more-label Портфолио

            li.mobile-menu__more-item
                a.mobile-menu__more-link(href="/dist/html/vebinars.html")
                    include ../../images/svg/menu/megaphone.svg
                    span.mobile-menu__more-label Вебинары

            li.mobile-menu__more-item
                a.mobile-menu__more-link(href="/dist/html/blog.html")
                    include ../../images/svg/menu/edit.svg
                    span.mobile-menu__more-label Блог

            li.mobile-menu__more-item
                a.mobile-menu__more-link(href="/dist/html/news.html")
                    include ../../images/svg/menu/speech-bubble.svg
                    span.mobile-menu__more-label Новости

            li.mobile-menu__more-item
                a.mobile-menu__more-link(href="/dist/html/about.html")
                    include ../../images/svg/menu/stick-man.svg
                    span.mobile-menu__more-label О компании

            li.mobile-menu__more-item
                a.mobile-menu__more-link(href="/dist/html/account.html")
                    include ../../images/svg/menu/user.svg
                    span.mobile-menu__more-label Личный кабинет
