.btn__wrap {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: .2s;

  &:active {
    transition: .1s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  }
}

.btn {
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 2px;
  transition: background-color .3s,color .3s,border-color .3s;
  width: 100%;
  color: #fff;
  display: block;
  padding: 8px 0 9px;

  &--primary {
    background-color: $red;

    &:hover {
      background-color: $red-hover;
      color: #fff;
    }
  }

  &--rect {
    width: 3.75rem;
    height: 3.75rem;
    padding: 0;
  }

  &--fix-width {
    width: 170px;
  }

  &:before {
    position: absolute;

    transform: translate3d(50%,0,0);
    opacity: 0;
    content: attr(data-text);
  }

  &:hover {
    &:before {
      color: #fff;
      transform: translateZ(0);
      opacity: 1;
    }

    .btn__overlay {
      transform: translate3d(10%,0,0) skew(-20deg);
      opacity: 1;
    }

    .btn__text {
      transform: translate3d(-50%,0,0);
      opacity: 0;
    }
  }
}

.btn__overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 140%;
  transform: translate3d(100%,0,0) skew(0deg);
  background-color: $red-hover;
  opacity: 0;
  transition: transform .5s ease,opacity .3s ease;
  border-radius: 2px;
  display: block;
}

.btn__text, .btn:before {
  transition: opacity .25s ease,transform .25s ease;
  z-index: 1;
  display: inline-block;
}
