doctype html
html
    include ./include/head.pug
    +head("Личный кабинет")
    body
        .wrapper
            include ../components/header/header
            +header(false, "Личный кабинет")
            main.inner-page
                include ../components/account/account

            include ../components/footer/footer
