doctype html
html
    include ./include/head.pug
    +head("Блог")
    body
        .wrapper
            include ../components/header/header
            +header(false, "Блог", "Опыт не важен, если есть интересная цель", "/dist/html/blog.html")
            main.inner-page
                include ../components/blog-item/blog-item

            include ../components/footer/footer
