doctype html
html
    include ./include/head.pug
    +head("Блог")
    body
        .wrapper
            include ../components/header/header
            +header(false, "Блог")
            main.inner-page
                include ../components/blog/blog

            include ../components/footer/footer
