doctype html
html
    include ./include/head.pug
    +head("Новости компании")
    body
        .wrapper
            include ../components/header/header
            +header(false, "Новости компании")
            main.inner-page
                include ../components/news-list-inner/news-list-inner

            include ../components/footer/footer
