doctype html
html
    include ./include/head.pug
    +head("Услуги")
    body
        .wrapper
            include ../components/header/header
            +header(false, "Услуги", "Доработка корпоративного портала Битрикс24", "/dist/html/services.html")
            main.inner-page
                include ../components/services-item/services-item

            include ../components/footer/footer
