doctype html
html
    include ./include/head.pug
    +head("Услуги")
    body
        .wrapper
            include ../components/header/header
            +header(false, "Услуги")
            main.inner-page
                include ../components/services/services

            include ../components/footer/footer
