.company.template-width
    h1.h-line О компании

    .company__content
        ul.tabs.grid-row
            li.grid-col-4
                a.active(href="company.html") О компании
            li.grid-col-4
                a(href="history.html") История компании
            li.grid-col-4
                a(href="rules.html") Правила

        h2 Наши преимущества
        ul.grid-row.company__benefits
            li.grid-col-4
                figure
                    div(style="background-image: url('../images/company/1.png');")
                    figcaption С 2008 года на рынке

            li.grid-col-4
                figure
                    div(style="background-image: url('../images/company/2.png');")
                    figcaption Персональный менеджер отправки вашего груза

            li.grid-col-4
                figure
                    div(style="background-image: url('../images/company/3.png');")
                    figcaption Решение всех вопросов железнодорожной специфики

            li.grid-col-4
                figure
                    div(style="background-image: url('../images/company/4.png');")
                    figcaption Эксклюзивные предложения по стоимости

        .grid-row
            .grid-col-8
                h2 О нас
                p.
                    С первых же дней создания, несмотря на кризисные времена 2008 года, 
                    молодое транспортное предприятие, стало активно развиваться, 
                    заключая долгосрочные, действующие до настоящего времени контракты 
                    с крупными компаниями, успешные договора с прочими организациями.

                p.
                    С каждым годом компания расширяла географию своей деятельности и выросла 
                    до надежного, крепкого, качественного, профессионального лидера 
                    транспортного сегмента рынка.

        h2 Сотрудники компании
        ul.grid-row.company__employees
            li.grid-col-4
                figure
                    div(style="background-image: url('../images/company/150.png');")
                    figcaption
                        h5 Иванов#[br] Александр Иванович
                        p Директор компании «ГлавТранс»

            li.grid-col-4
                figure
                    div(style="background-image: url('../images/company/150.png');")
                    figcaption
                        h5 Иванов#[br] Александр Иванович
                        p Директор компании «ГлавТранс»

            li.grid-col-4
                figure
                    div(style="background-image: url('../images/company/150.png');")
                    figcaption
                        h5 Иванов#[br] Александр Иванович
                        p Директор компании «ГлавТранс»
