.portfolio__item {
  position: relative;

  min-height: 470px;
  margin-bottom: 100px;
  padding: 40px 40% 150px 30px;

  color: #fff;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.portfolio__header {
  margin: 0 0 20px;
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 1.166666667;
}

.portfolio__decr {
  font-size: 1.25rem;
  line-height: 1.7;
  margin: 0;
}

.portfolio__label {
  position: absolute;
  bottom: 30px;
  right: 0;

  display: flex;
  align-items: center;
  max-width: 420px;
  min-height: 100px;
  padding: 20px 30px;
  margin: 0;

  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.25;

  background-color: rgba(46, 46, 46, 0.8);
}

.portfolio__button {
  position: absolute;
  bottom: 60px;
  left: 30px;
}