include ../button/button

.portfolio.template-width
    .portfolio__item(style="background-image: url(../images/portfolio/1.jpg);")
        h3.portfolio__header Комплексное #[br] внедрение Битрикс24
        h4.portfolio__label Стоматологическая клиника Жемчужная
        p.portfolio__decr Увеличение оборота клиники без вложений в рекламу Увеличение оборота клиники без вложений в рекламу Увеличение оборота клиники без вложений в рекламу
        +button("/dist/html/portfolio-item.html", "смотреть кейс")(class="button button--green portfolio__button")

    .portfolio__item(style="background-image: url(../images/portfolio/2.jpg);")
        h3.portfolio__header Комплексное внедрение #[br] Битрикс24
        h4.portfolio__label Стоматологическая клиника Жемчужная
        p.portfolio__decr Увеличение оборота клиники без вложений в рекламу
        +button("/dist/html/portfolio-item.html", "смотреть кейс")(class="button button--green portfolio__button")