.footer-search-wrap
    form.footer-search
        input.footer-search__input(type="text", placeholder="Поиск по сайту")
        button.footer-search__submit(type="submit")
            include ../../images/svg/magnifying-glass.svg

        .title-search-result
            .search-drop.bx-search
                .dropdown-select__header
                    a.dropdown-select__all-results(href="#") все результаты
                .dropdown-select__baron.dropdown-select__baron--search.baron.baron__root.baron__clipper._simple._scrollbar
                    .dropdown-select__scroll.dropdown-select__scroll--search.baron__scroller
                        .container
                            .dropdown-select__drop.dropdown-select__drop--search
                                ul
                                    li
                                        a(title="Семинар Битрикс24 прошел Битрикс24 прошел Битрикс24 прошел" href="/katalog/drugoe/polotentsa-dlya-kukhni-tork/") Семинар #[b Битрикс24] прошел Битрикс24 прошел Битрикс24 прошел

                                    li
                                        a(title="Семинар Битрикс24 прошел Битрикс24 прошел Битрикс24 прошел" href="/katalog/drugoe/polotentsa-dlya-kukhni-tork/") Семинар #[b Битрикс24] прошел Битрикс24 прошел Битрикс24 прошел

                                    li
                                        a(title="Семинар Битрикс24 прошел Битрикс24 прошел Битрикс24 прошел" href="/katalog/drugoe/polotentsa-dlya-kukhni-tork/") Семинар #[b Битрикс24] прошел Битрикс24 прошел Битрикс24 прошел

                                    li
                                        a(title="Семинар Битрикс24 прошел Битрикс24 прошел Битрикс24 прошел" href="/katalog/drugoe/polotentsa-dlya-kukhni-tork/") Семинар #[b Битрикс24] прошел Битрикс24 прошел Битрикс24 прошел

                                    li
                                        a(title="Семинар Битрикс24 прошел Битрикс24 прошел Битрикс24 прошел" href="/katalog/drugoe/polotentsa-dlya-kukhni-tork/") Семинар #[b Битрикс24] прошел Битрикс24 прошел Битрикс24 прошел


                    .baron__track
                        .baron__free
                            .baron__bar