.reviews.template-width
    h1.h-line Отзывы

    h4 Нажмите на логотип компании, для просмотра отзыва

    .grid-row.reviews__list
        .grid-col-4.reviews__item
            a(href="#review-1", data-src="#review-1", style="background-image: url('../images/reviews/1.png');")
            .modal-content.modal-content--reviews#review-1(style="display: none;")
                .review-modal
                    .review-modal__img(style="background-image: url('../images/reviews/1.png');")
                    .review-modal__content
                        .review-modal__title
                            h5 Иванов#[br] Александр Иванович
                            p Директор компании «IBM»
                        .review-modal__text
                            p.
                                С первых же дней создания, несмотря на кризисные времена 2008 года, 
                                молодое транспортное предприятие, стало активно развиваться, 
                                заключая долгосрочные, действующие до настоящего времени контракты 
                                с крупными компаниями, успешные договора с прочими организациями.
                            p.
                                С каждым годом компания расширяла географию своей деятельности и 
                                выросла до надежного, крепкого, качественного, профессионального 
                                лидера транспортного сегмента рынка.
                    


        .grid-col-4.reviews__item
            a(href="#review-2", data-src="#review-2", style="background-image: url('../images/reviews/2.png');")
            .modal-content.modal-content--reviews#review-2(style="display: none;")
                .review-modal
                    .review-modal__img(style="background-image: url('../images/reviews/2.png');")
                    .review-modal__content
                        .review-modal__title
                            h5 Иванов#[br] Александр Иванович
                            p Директор компании «IBM»
                        .review-modal__text
                            p.
                                С первых же дней создания, несмотря на кризисные времена 2008 года, 
                                молодое транспортное предприятие, стало активно развиваться, 
                                заключая долгосрочные, действующие до настоящего времени контракты 
                                с крупными компаниями, успешные договора с прочими организациями.
                            p.
                                С каждым годом компания расширяла географию своей деятельности и 
                                выросла до надежного, крепкого, качественного, профессионального 
                                лидера транспортного сегмента рынка.

        .grid-col-4.reviews__item
            a(href="#review-3", data-src="#review-3", style="background-image: url('../images/reviews/3.png');")
            .modal-content.modal-content--reviews#review-3(style="display: none;")
                .review-modal
                    .review-modal__img(style="background-image: url('../images/reviews/3.png');")
                    .review-modal__content
                        .review-modal__title
                            h5 Иванов#[br] Александр Иванович
                            p Директор компании «IBM»
                        .review-modal__text
                            p.
                                С первых же дней создания, несмотря на кризисные времена 2008 года, 
                                молодое транспортное предприятие, стало активно развиваться, 
                                заключая долгосрочные, действующие до настоящего времени контракты 
                                с крупными компаниями, успешные договора с прочими организациями.
                            p.
                                С каждым годом компания расширяла географию своей деятельности и 
                                выросла до надежного, крепкого, качественного, профессионального 
                                лидера транспортного сегмента рынка.

        .grid-col-4.reviews__item
            a(href="#review-4", data-src="#review-4", style="background-image: url('../images/reviews/4.png');")
            .modal-content.modal-content--reviews#review-4(style="display: none;")
                .review-modal
                    .review-modal__img(style="background-image: url('../images/reviews/4.png');")
                    .review-modal__content
                        .review-modal__title
                            h5 Иванов#[br] Александр Иванович
                            p Директор компании «IBM»
                        .review-modal__text
                            p.
                                С первых же дней создания, несмотря на кризисные времена 2008 года, 
                                молодое транспортное предприятие, стало активно развиваться, 
                                заключая долгосрочные, действующие до настоящего времени контракты 
                                с крупными компаниями, успешные договора с прочими организациями.
                            p.
                                С каждым годом компания расширяла географию своей деятельности и 
                                выросла до надежного, крепкого, качественного, профессионального 
                                лидера транспортного сегмента рынка.

        .grid-col-4.reviews__item
            a(href="#review-5", data-src="#review-5", style="background-image: url('../images/reviews/5.png');")
            .modal-content.modal-content--reviews#review-5(style="display: none;")
                .review-modal
                    .review-modal__img(style="background-image: url('../images/reviews/5.png');")
                    .review-modal__content
                        .review-modal__title
                            h5 Иванов#[br] Александр Иванович
                            p Директор компании «IBM»
                        .review-modal__text
                            p.
                                С первых же дней создания, несмотря на кризисные времена 2008 года, 
                                молодое транспортное предприятие, стало активно развиваться, 
                                заключая долгосрочные, действующие до настоящего времени контракты 
                                с крупными компаниями, успешные договора с прочими организациями.
                            p.
                                С каждым годом компания расширяла географию своей деятельности и 
                                выросла до надежного, крепкого, качественного, профессионального 
                                лидера транспортного сегмента рынка.