
.hidden-menu {
  position: absolute;
  top: 0;
  right: 0;

  width: 100%;
  height: 770px;
  max-height: 100vh;
  overflow: auto;

  opacity: 0;
  visibility: hidden;
  cursor: default;
  transition: opacity .15s 0s, visibility 0s .15s;

  &--open {
    opacity: 1;
    visibility: visible;
    transition: opacity .25s 0s, visibility 0s 0s;

    + .main-buttons__menu {
      width: 100%;
      height: 30.625em;
      border-radius: 6px;
    }
  }
}

.hidden-menu--open + .main-buttons__menu {
  .humburger span {
    &:nth-child(1) {
      transform: rotate(45deg) translateX(2px) translateY(-4px);
    }

    &:nth-child(2) {
      width: 0;
      opacity: 0;
    }

    &:nth-child(3) {
      transform: rotate(-45deg) translateX(2px) translateY(4px);
    }
  }
}


.wrapper {
  &:after {
    position: fixed;
    left: 0;
    top: 0;

    display: block;
    width: 100%;
    height: 100%;

    background-color: #454552;

    transition: .25s ease-in-out;
    visibility: hidden;
    opacity: 0;
    content: "";
  }

  &--overlay {
    &:after {
      visibility: visible;
      opacity: 1;
    }
  }
}


// Nav
.hidden-nav {
  position: absolute;
  top: 260px;
  right: 0;

  display: flex;
  flex-direction: column;
  width: 470px;
  max-width: 100%;
  margin: 0;
  padding: 0;
 
  list-style: none;

  transform: translateY(-25px);
  transition: transform .75s ease-out;

  li {
    font-size: 2.5rem;
    line-height: .75;
    color: #f1f1f1;

    @media only screen and (max-width: 1440px) {
      font-size: 2rem;
    }

    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  a {
    text-transform: uppercase;
  }

  &--footer {
    position: static;
    top: auto;
    width: auto;
    transform: none;

    li {
      font-size: 1.125rem;
      color: #454552;
      font-weight: 600;
      line-height: 1.175;

      &:not(:last-child) {
        margin-bottom: .33em;
      }
    }

    a {
      text-transform: none;
    }
  }
}

.hidden-menu--open {
  .hidden-nav {
    transform: translateY(0);
  }
}

@keyframes anim-in-layer {
  0% {
    transform: translate3d(-100%,0,0)
  }

  to {
    transform: translateZ(0)
  }
}

@keyframes anim-out-layer {
  0% {
    transform: translateZ(0)
  }

  to {
    transform: translate3d(100%,0,0)
  }
}

@keyframes anim-in-text {
  0% {
    transform: translate3d(100%,0,0)
  }

  to {
    transform: translateZ(0)
  }
}

@keyframes anim-out-text {
  0% {
    transform: translateZ(0)
  }

  to {
    transform: translate3d(-100%,0,0)
  }
}

.menu__link {
  text-decoration: none;
  transition: color .3s;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.link__layer {
  position: absolute;
  left: 0;
  overflow: hidden;
  background-color: #454552;
  width: 100%;
  display: block;
  transform: translate3d(-100%,0,0);
  animation: anim-out-layer .3s ease-out;
  backface-visibility: hidden;

  &:before {
    background-color: #454552;
    content: attr(data-text);
    width: 100%;
    display: block;
    transform: translate3d(100%,0,0);
    color: #ea003a;
    animation: anim-out-text .3s ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &--footer {
    background-color: #f1f1f1;

    &:before {
      background-color: #f1f1f1;
    }
  }
}

.menu__link:hover .link__layer {
  animation: anim-in-layer .3s ease forwards;

  &:before {
    animation: anim-in-text .3s ease forwards;
  }
}