div.hidden-menu#hidden-menu
    //- a.hidden-menu__close(href="#!")
    ul.hidden-nav
        li
            a.menu__link(href="/dist/html/services.html").
                #[span.link__layer(data-text="услуги")]
                услуги

        li
            a.menu__link(href="/dist/html/info.html").
                #[span.link__layer(data-text="полезная информация")]
                полезная информация

        li
            a.menu__link(href="/dist/html/reviews.html").
                #[span.link__layer(data-text="отзывы")]
                отзывы

        li
            a.menu__link(href="/dist/html/about.html").
                #[span.link__layer(data-text="о компании")]
                о компании

        li
            a.menu__link(href="/dist/html/contacts.html").
                #[span.link__layer(data-text="контакты")]
                контакты
     




