div.hidden-menu#hidden-menu
    .hidden-menu__content
        ul.hidden-nav
            li
                a.menu__link(href="services.html").
                    #[span.link__layer(data-text="услуги")]
                    услуги

            li
                a.menu__link(href="info.html").
                    #[span.link__layer(data-text="полезная информация")]
                    полезная информация

            li
                a.menu__link(href="reviews.html").
                    #[span.link__layer(data-text="отзывы")]
                    отзывы

            li
                a.menu__link(href="company.html").
                    #[span.link__layer(data-text="о компании")]
                    о компании

            li
                a.menu__link(href="contacts.html").
                    #[span.link__layer(data-text="контакты")]
                    контакты
        
        a.hidden-tel(href="tel:83952763100") 8 3952 763 100




