div.social-block
    button.social-block__button
    ul.social-block__content
        li
            a(href="#")
                include ../../images/svg/fb.svg
                span Facebook
        li
            a(href="#")
                include ../../images/svg/vk.svg
                span Vkontakte
        li
            a(href="#")
                include ../../images/svg/yt.svg
                span Youtube

