.portfolio-steps__step-links {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  margin-right: -1.875em;
  margin-bottom: 6.875em;
  padding: 5em 0 1.25em;

  &:after {
    z-index: -1;
    position: absolute;
    left: -500px;
    right: -500px;
    top: 0;
    bottom: 0;

    display: block;
    background-color: #f5f6f7;

    content: "";
  }
}

.portfolio-steps__step {
  flex-basis: calc(50% - 1.875em);
  max-width: calc(50% - 1.875em);
  margin-right: 1.875em;
  margin-bottom: 3.75em;
  padding: 1.875em;

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  background-color: #fff;

  transition: box-shadow .2s ease-in-out;

  &:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }

  &:focus {
    outline: none;
  }
}

.portfolio-steps__title,
.portfolio-steps__desc {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.88;
}

.portfolio-steps__title {
  margin: 0 0 0.72em;
  color: #0066a1;
}

.portfolio-steps__desc {
  margin: 0 0 1.5em;
  color: #2e2e2e;
}

// Modal
.portfolio-steps__content-head {
  padding: 4.375em 1.875em 1.875em;
  background-color: #f5f6f7;
}

.portfolio-steps__content-body {
  padding: 3.125em 1.875em;
}

.portfolio-steps__content-list {
  list-style: none;
  padding: 0;
  margin: 0 0 3.125em;

  li {
    color: #2e2e2e;
    font-size: 1.25rem;
    line-height: 1.7;
    font-weight: 400;

    &:not(:last-child) {
      margin-bottom: 1.7em;
    }

    .num {
      font-weight: 700;
    }
  }
}

.portfolio-steps__content-header {
  margin: 0 0 2.5em;
  color: #8cc63f;
  font-size: 1.25rem;
  line-height: 1.7;
}

.portfolio-steps__content-second-header {
  margin: 0 0 1em;
  color: #2e2e2e;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.88;
}

.content-close {
  display: none;
}

.portfolio-modal {
  .content-close {
    display: block;

    &:focus {
      outline: none;
    }
  }

  .portfolio-steps__modal {
    padding: 0;
    width: 830px;
    max-width: 90%;
  }

  .fancybox-close-small {
    right: 20px;
    top: 20px;

    width: 60px;
    height: 60px;

    color: transparent;
    font-size: 20px;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    background: #2fc6f7 url('../images/svg/close-modal.svg') no-repeat center;

    transition: .2s ease-in-out;

    &:hover {
      background-color: #3ccfff;
    }

    &:active {
      background-color: #2cbae8;
      transition: .1s ease-in-out;
    }

    &:focus {
      outline: none;
    }
  }

  .fancybox-bg {
    background-color: rgba(0,0,0,.5);
  }
}


