ul.social
    li
        a(href="#", target="_blank").social__icon.social__icon--fb
            include ../../images/svg/fb.svg
    li
        a(href="#", target="_blank").social__icon.social__icon--vk
            include ../../images/svg/vk.svg
    li
        a(href="#", target="_blank").social__icon.social__icon--yt
            include ../../images/svg/yt.svg