.comment__item
    .comment__info
        span.comment__author
            span.comment__author-pic(style="background-image: url('../images/blog/uik.jpg');")
            span.comment__author-name Джон Уик
        span.comment__time-ago 1 час назад
    p.comment__text.
        Мне как будущему верстальщику была очень полезна эта статья.
        Отдельное спасибо автору за вставленые названия книг :)

.comment__item
    .comment__info
        span.comment__author
            span.comment__author-pic(style="background-image: url('../images/blog/uik.jpg');")
            span.comment__author-name Джон Уик
        span.comment__time-ago 11 дней назад
    p.comment__text.
        Определений дизайна столь же много, сколько дизайнеров.(с)
        Можно только догадываться о чём это вы.

.comment__item
    .comment__info
        span.comment__author
            span.comment__author-pic(style="background-image: url('../images/blog/uik.jpg');")
            span.comment__author-name Джон Уик
        span.comment__time-ago 12 дней назад
    p.comment__text.
        Мне как будущему верстальщику была очень полезна эта статья.
        Отдельное спасибо автору за вставленые названия книг :)

.comment__item
    .comment__info
        span.comment__author
            span.comment__author-pic(style="background-image: url('../images/blog/uik.jpg');")
            span.comment__author-name Джон Уик
        span.comment__time-ago 13 дней назад
    p.comment__text.
        Определений дизайна столь же много, сколько дизайнеров.(с)
        Можно только догадываться о чём это вы.