include ../button/button
.account.template-width
    form.account__content#account-info
        h2.account__title Информация о пользователе

        .account-prime-info
            .account-prime-info__block
                label.account-prime-info__label(for="account-firstname") Ваше имя
                .account-prime-info__field
                    input.account-prime-info__input#account-firstname(type="text", value="Иван", disabled)
                    button.account-prime-info__button

            .account-prime-info__block
                label.account-prime-info__label(for="account-lastname") Ваша фамилия
                .account-prime-info__field
                    input.account-prime-info__input#account-lastname(type="text", value="Иванов", disabled)
                    button.account-prime-info__button

            .account-prime-info__block
                label.account-prime-info__label(for="account-org") Название организации
                .account-prime-info__field
                    input.account-prime-info__input#account-org(type="text", value="«Стройградмегаком»", disabled)
                    button.account-prime-info__button

        .account-photo
            // Если пользователь не загружал изображение, то элемент скрыт
            .account-photo__selected
                .account-photo__selected-image
                    .account-photo__selected-pic(style="background-image: url('../images/blog/author-big.jpg')")
                    span.account-photo__selected-name trump.png
                    span.account-photo__selected-size 90 КБ

                button.account-photo__selected-delete
                    include ../../images/svg/cancel.svg


            .drop-photo
                input.drop-photo__file(type="file", name="drop-photo", id="drop-photo")
                label.drop-photo__label(for="drop-photo")
                    span.drop-photo__label-top Перетащите изображение в эту область
                    span.drop-photo__label-bottom Загрузить с диска

        .account-gallery
            button.toggle-gallery.green-button#toggle-gallery галерея
            .account-gallery__content
                .account-gallery__faces-wrap
                    ul.account-gallery__faces
                        li
                            input#gal-1(type="radio", name="gallery", value="1")
                            label(for="gal-1", style="background-image: url('/dist/images/account/1.png')")
                                span
                                    include ../../images/svg/good.svg
                        li
                            input#gal-2(type="radio", name="gallery", value="2")
                            label(for="gal-2", style="background-image: url('/dist/images/account/2.png')")
                                span
                                    include ../../images/svg/good.svg
                        li
                            input#gal-3(type="radio", name="gallery", value="3")
                            label(for="gal-3", style="background-image: url('/dist/images/account/3.png')")
                                span
                                    include ../../images/svg/good.svg
                        li
                            input#gal-4(type="radio", name="gallery", value="4")
                            label(for="gal-4", style="background-image: url('/dist/images/account/4.png')")
                                span
                                    include ../../images/svg/good.svg
                        li
                            input#gal-5(type="radio", name="gallery", value="5")
                            label(for="gal-5", style="background-image: url('/dist/images/account/5.png')")
                                span
                                    include ../../images/svg/good.svg
                        li
                            input#gal-6(type="radio", name="gallery", value="6")
                            label(for="gal-6", style="background-image: url('/dist/images/account/6.png')")
                                span
                                    include ../../images/svg/good.svg
                        li
                            input#gal-7(type="radio", name="gallery", value="7")
                            label(for="gal-7", style="background-image: url('/dist/images/account/7.png')")
                                span
                                    include ../../images/svg/good.svg
                        li
                            input#gal-8(type="radio", name="gallery", value="8")
                            label(for="gal-8", style="background-image: url('/dist/images/account/8.png')")
                                span
                                    include ../../images/svg/good.svg
                        li
                            input#gal-9(type="radio", name="gallery", value="9")
                            label(for="gal-9", style="background-image: url('/dist/images/account/9.png')")
                                span
                                    include ../../images/svg/good.svg
                        li
                            input#gal-10(type="radio", name="gallery", value="10")
                            label(for="gal-10", style="background-image: url('/dist/images/account/10.png')")
                                span
                                    include ../../images/svg/good.svg

                button.clear-gallery.green-button.green-button--red#clear-gallery отменить

        .account-prime-info.account-prime-info--pass
            .account-prime-info__block
                label.account-prime-info__label(for="pass-old") Старый пароль
                .account-prime-info__field
                    input.account-prime-info__input#pass-old(type="password")
                    span.account-prime-info__button.account-prime-info__button--pass
                        span.bad
                            include ../../images/svg/bad.svg
                        span.good
                            include ../../images/svg/good.svg

            .account-prime-info__block
                label.account-prime-info__label(for="pass-new") Новый пароль
                .account-prime-info__field
                    input.account-prime-info__input#pass-new(type="password")
                    span.account-prime-info__button.account-prime-info__button--pass
                        span.bad
                            include ../../images/svg/bad.svg
                        span.good
                            include ../../images/svg/good.svg

            .account-prime-info__block
                label.account-prime-info__label(for="pass-confirm") Подтвердить#[br] пароль
                .account-prime-info__field
                    input.account-prime-info__input#pass-confirm(type="password")
                    span.account-prime-info__button.account-prime-info__button--pass
                        span.bad
                            include ../../images/svg/bad.svg
                        span.good
                            include ../../images/svg/good.svg

        +button("", "сохранить изменения")(class="account__submit button button--green button--without-arrow", type="submit", id="account-submit")

    .account__aside
        ul.account__nav
            li
                span.active Информация о пользователе

            li
                a(href="/dist/html/account-contacts.html") Контакты

            li
                a(href="/dist/html/account-subscription.html") Подписка

        .account__info
            .account__info-top
                p.account__info-name Иванов Иван
                div.account__info-img(style="background-image: url('../images/blog/author-big.jpg')")

            ul.account__info-main
                li
                    span.account__info-key компания
                    span.account__info-value «Стройграндмегаком»

                li
                    span.account__info-key телефон
                    span.account__info-value 8 800 000 00 00

                li
                    span.account__info-key e-mail
                    span.account__info-value user@gmail.com

                li
                    span.account__info-key подписка оформлена
                    span.account__info-value «Раздел Блог» user@gmail.com