include ../button/button
.account.template-width
    form.account__content#account-subscription
        h2.account__title Подписка

        <!-- If field isn't checked do nothing on form submit -->
        <!-- Else compare subscription type to the current one and change database if needed -->
        input#subscription-status(type="checkbox", name="subscription-status", style="display: none;", checked="checked")

        .account-prime-info#account-subscription-fields
            .account-prime-info__block
                .account-prime-info__label Выберите нужную#[br] категорию
                .account-prime-info__field.account-prime-info__field--dropdown(tabindex="0")
                    <!-- Selected subscription type value will be here -->
                    input.account-prime-info__input.account-prime-info__input--dropdown#subscription-select(type="text", value="Раздел Блог", disabled)
                    ul.account-prime-info__dropdown#subscription-dropdown
                        li(tabindex="0") Все
                        li(tabindex="0") Раздел Блог
                        li(tabindex="0") Раздел Новости
                    span.account-prime-info__button.account-prime-info__button--dots

            .account-prime-info__block
                label.account-prime-info__label(for="subscription-email") E-mail для#[br] подписки
                .account-prime-info__field
                    input.account-prime-info__input#subscription-email(type="text", value="user@gmail.com", disabled)
                    button.account-prime-info__button#change-subscription-email

            <!-- Add "hidden" class to "account-subscription__selected" if there is no subscription -->
            .account-subscription__selected
                .account-subscription__selected-left
                    span.account-subscription__selected-section «Раздел блог»

                .account-subscription__selected-right
                    span.account-subscription__selected-name Подписка оформлена

                    <!-- This button can uncheck subscription status -->
                    button.account-subscription__selected-delete#subscription-del
                        include ../../images/svg/cancel.svg

        +button("", "сохранить изменения")(class="contacts__submit button button--green button--without-arrow", type="submit", id="subscription-submit")

    .account__aside
        ul.account__nav
            li
                a(href="/dist/html/account.html") Информация о пользователе

            li
                a(href="/dist/html/account-contacts.html") Контакты

            li
                span.active Подписка

        .account__info
            .account__info-top
                p.account__info-name Иванов Иван
                div.account__info-img(style="background-image: url('../images/blog/author-big.jpg')")

            ul.account__info-main
                li
                    span.account__info-key компания
                    span.account__info-value «Стройграндмегаком»

                li
                    span.account__info-key телефон
                    span.account__info-value 8 800 000 00 00

                li
                    span.account__info-key e-mail
                    span.account__info-value user@gmail.com

                li
                    span.account__info-key подписка оформлена
                    span.account__info-value «Раздел Блог» user@gmail.com