.template-width
    ul.account-main
        li.account-main__el.account-main__el--info
            include ../../images/svg/avatar.svg
            a(href="/dist/html/account.html") Информация о пользователе

        li.account-main__el.account-main__el--contacts
            include ../../images/svg/menu/telephone.svg
            a(href="/dist/html/account-contacts.html") Контакты

        li.account-main__el.account-main__el--subscription
            include ../../images/svg/mail.svg
            a(href="/dist/html/account-subscription.html") Подписка