include ../button/button

form.callback#callback
    .callback__form-wrap#callback-form
        h4.callback__title Получить более подробную консультацию

        .callback__form-content
            .callback__field
                label(for="callback-name") Как к вам обращаться?
                input#callback-name(type="name")
                p.callback__placeholder
                    span.callback__ok Например: Александр Мол
                    span.callback__error Неверно указано имя

            .callback__field
                label(for="callback-num") Контактный телефон
                input#callback-num(type="name")
                p.callback__placeholder
                    span.callback__ok Например: +7 (123) 456 78 90
                    span.callback__error Неверно указан номер телефона
            
            .callback__agreement
                input(type="checkbox", id="agreement")
                label(for="agreement") 
                    span #[a#agreement-link(data-src="#agreement-text", href="#agreement-text", target="_blank") Соглашение] на обработку своих персональных данных 
                    i.callback__agreement-info
                        .tooltip.
                            Ваши персональные данные будут использованы только компанией «ГлавТранс» 
                            для связи с вами и не будут переданы третьим лицам.

                div#agreement-text.modal-content(style="display: none;")
                    h3.h-line.h-upper.modal-header Согласие на обработку персональных данных
                    p.
                        Присоединяясь к настоящему Соглашению и оставляя свои данные на Сайте #[a(href="index.html") glavtrans.ru], (далее – Сайт), путем заполнения полей формы (обратной связи) Пользователь:
                        #[br]#[br]
                        Подтверждает, что все указанные им данные принадлежат лично ему;
                        #[br]#[br]
                        Подтверждает и признает, что им внимательно в полном объеме прочитано 		Соглашение и условия обработки его персональных данных, указываемых им в полях 	формы (регистрации), текст соглашения и условия обработки персональных данных 	ему понятны; 
                        #[br]#[br]
                        Дает согласие на обработку Сайтом предоставляемых в составе информации персональных данных в целях заключения между ним и Сайтом настоящего Соглашения, а также его последующего исполнения;
                        #[br]#[br]
                        Дает согласие на передачу своих персональных данных партнерам мероприятий организатора; 
                        #[br]#[br]
                        Дает согласие на получение информационной рассылки о новостях Сайта, в том числе анонсов статей, размещенных на Сайте и рекламных материалов от партнеров Сайта;
                        #[br]#[br]
                        Выражает согласие с условиями обработки персональных данных.
                        #[br]#[br]#[br]

                        Владельцем сайта #[a(href="index.html") glavtrans.ru] – является Общество с ограниченной ответственностью «ГлавТранс» 
                        ИНН: 3811119651
                        место нахождения: РФ, 664050, г. Иркутск, ул. Байкальская, д. 295/2
                        #[br]#[br]
                        Пользователь дает свое согласие на обработку его персональных данных, а именно совершение действий, предусмотренных п. 3 ч. 1 ст. 3 Федерального закона от 27.07.2006 N 152-ФЗ «О персональных данных», и подтверждает, что, давая такое согласие, он действует свободно, своей волей и в своем интересе.
                        #[br]#[br]
                        Согласие Пользователя на обработку персональных данных является конкретным, информированным и сознательным. 
                        #[br]#[br]
                        Настоящее согласие Пользователя признается исполненным в простой письменной форме, на обработку следующих персональных данных: 
                        #[br]#[br]
                        Фамилии, имени, отчества;
                        #[br]#[br]
                        Места пребывания (город, область); 
                        #[br]#[br]
                        Номерах телефонов;
                        #[br]#[br]
                        Адресах электронной почты (E-mail). 
                        #[br]#[br]#[br]

                        Пользователь, предоставляет #[a(href="index.html") glavtrans.ru] право осуществлять следующие действия (операции) с персональными данными: сбор и накопление; хранение в течение установленных нормативными документами сроков хранения отчетности, но не менее трех лет, с момента даты прекращения пользования услуг Пользователем; 	уточнение (обновление, изменение); использование; уничтожение; обезличивание;
                        передача по требованию суда, в т.ч., третьим лицам, с соблюдением мер, обеспечивающих защиту персональных данных от несанкционированного доступа.
                        #[br]#[br]
                        Указанное согласие действует бессрочно с момента предоставления данных и может быть отозвано Вами путем подачи заявления администрации сайта с указанием данных, определенных ст. 14 Закона «О персональных данных». 
                        #[br]#[br]
                        Отзыв согласия на обработку персональных данных может быть осуществлен путем направления Пользователем соответствующего распоряжения в простой письменной форме на адрес электронной почты (E-mail) #[a(href="mailto:glavtrans@inbox.ru") glavtrans@inbox.ru]. 
                        #[br]#[br]
                        Сайт не несет ответственности за использование (как правомерное, так и неправомерное) третьими лицами Информации, размещенной Пользователем на Сайте, включая ее воспроизведение и распространение, осуществленные всеми возможными способами. 
                        #[br]#[br]
                        Сайт имеет право вносить изменения в настоящее Соглашение. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Соглашения вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Соглашения. 
                        #[br]#[br]
                        Действующая редакция Соглашения находится на странице по адресу: #[a(href="index.html") glavtrans.ru]
                        #[br]#[br]
                        К настоящему Соглашению и отношениям между пользователем и Сайтом, возникающим в связи с применением Соглашения, подлежит применению право Российской Федерации.
                    
                    .modal-button
                        +button("", "закрыть")(class="btn btn--primary btn--big", id="close-agreement")

            .callback__buttons
                .callback__submit
                    +button("", "отправить")(class="btn btn--primary btn--fix-width-small btn--disabled", id="callback-submit", type="submit")
                    p.tooltip.callback__tooltip#callback-tooltip-name «Вы забыли#[br] представиться»
                    p.tooltip.callback__tooltip#callback-tooltip-num «Вы забыли указать#[br] контактный телефон»
                    p.tooltip.callback__tooltip#callback-tooltip-agree «Вы забыли принять#[br] соглашение»

                .callback__cancel
                    +button("", "отменить", true)(class="btn btn--primary btn--fix-width-small btn--white btn--hidden", id="callback-cancel")

    .callback__form-wrap#callback-success(style="display: none;")
        h4.callback__title.callback__title--success Важа заявка принята!

        .callback__form-content.callback__form-content--success
            p.callback__success-text.
                В ближайшее время наш менеджер
                свяжется с вами

            +button("", "закрыть")(class="btn btn--primary btn--fix-width", id="callback-close-success")