section.main-news
    .template-width
        h2 Новости компании
        include ../../images/svg/blur.svg
        .news-list
            figure.news-list__item
                a.news-list-inner__img(href="/dist/html/news-item.html")
                    img(src="../images/main/company-news-image.jpg")
                figcaption
                    .news-list-inner__top
                        a.news-list-inner__label(href="/dist/html/news.html") новости
                        span.news-list-inner__date 10.01.2017
                    a.news-list-inner__name(href="/dist/html/news-item.html").
                        Отчет о проведенном семинаре по
                        Битрикс 24 в Иркутске Отчет о проведенном
                        семинаре по Битрикс 24 в Иркутске
                    .news-list-inner__bottom
                        span.news-list-inner__likes
                            include ../../images/svg/like-of-filled-heart.svg
                            span 100
                        span.news-list-inner__views
                            include ../../images/svg/eye.svg
                            span 1025

            figure.news-list__item
                a.news-list-inner__img(href="/dist/html/news-item.html")
                    img(src="../images/main/company-news-image.jpg")
                figcaption
                    .news-list-inner__top
                        a.news-list-inner__label(href="/dist/html/news.html") новости
                        span.news-list-inner__date 10.01.2017
                    a.news-list-inner__name(href="/dist/html/news-item.html").
                        Отчет о проведенном семинаре по
                        Битрикс 24 в Иркутске Отчет о проведенном
                        семинаре по Битрикс 24 в Иркутске
                    .news-list-inner__bottom
                        span.news-list-inner__likes
                            include ../../images/svg/like-of-filled-heart.svg
                            span 100
                        span.news-list-inner__views
                            include ../../images/svg/eye.svg
                            span 1025

            figure.news-list__item
                a.news-list-inner__img(href="/dist/html/news-item.html")
                    img(src="../images/main/company-news-image.jpg")
                figcaption
                    .news-list-inner__top
                        a.news-list-inner__label(href="/dist/html/news.html") новости
                        span.news-list-inner__date 10.01.2017
                    a.news-list-inner__name(href="/dist/html/news-item.html").
                        Отчет о проведенном семинаре по
                        Битрикс 24 в Иркутске Отчет о проведенном
                        семинаре по Битрикс 24 в Иркутске
                    .news-list-inner__bottom
                        span.news-list-inner__likes
                            include ../../images/svg/like-of-filled-heart.svg
                            span 100
                        span.news-list-inner__views
                            include ../../images/svg/eye.svg
                            span 1025

        button.main-news__load
            span
                include ../../images/svg/curved-arrows.svg