li.header-search-wrap
    a.main-buttons__search(href="search.html")
        span.header-search-button
            include ../../images/svg/magnifying-glass.svg
    form.header-search
        input.header-search__input(type="text", placeholder="Поиск по сайту")
        button.header-search__submit(type="submit")