li.account-header-wrap
    a.main-buttons__account(href="account-main.html")
        span.account-header-button
            include ../../images/svg/avatar.svg
    ul.account-header
        li
            a Войти

        li
            a Регистрация
