.header {
  &--main {
    height: 100vh;
    position: relative;
  }

  &:not(&--main) {
    background-color: $dark-blue;

    .main-logo {
      svg {
        width: 70px;
      }
    }

    .top-menu__content {
      height: 120px;
    }
  }
}

.top-menu__content {
  position: relative; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 240px;
}

.main-logo {
  z-index: 1;
  position: relative;
  display: flex;
  width: 400px;

  svg {
    width: 88px;
    height: 100px;
  }

  path {
    transition: fill .15s ease-in-out;
  }

  // Default color on hover
  &--white:not(:hover) {
    path {
      fill: #fff;
    }
  }
}

.main-logo__wrap {
  padding-top: 15px;
  padding-left: 10px;
}

.main-logo__text,
.main-logo__text-sub {
  display: block;

  color: #f1f1f1;
  line-height: 1;

}

.main-logo__text {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
}

.main-logo__text-sub {
  font-size: 16px;
  font-weight: 600;
}

.main-nav {
  display: flex;
  flex-basis: 19.5em;
  margin: 0 5.63em 0 0;
  padding: 0.625em 0 0;

  list-style: none;

  li:not(:last-child) {
    margin-right: 3.13em;
  }

  a {
    position: relative;
    display: block;
    overflow: hidden;

    font-size: 1rem;
    font-weight: 700;
    line-height: 2.5em;

    color: #ffffff;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;

      display: block;
      width: 100%;
      height: 2px;

      background-color: #fff;

      transition: $ease-end;
      transition-property: transform;
      transform: translateX(-103%);

      content: "";
    }

    &:hover,
    &.active {
      &:after {
        transition: $ease-start;
        transition-property: transform;
        transform: translateX(0%);
      }
    }

    &.active {
      pointer-events: none;
    }
  }
}

.main-buttons__menu {
  z-index: 1;
  right: 0;

  &:hover {
    will-change: width, height, border-radius;
  }
}

.main-buttons__label {
  position: relative;

  height: 60px;
  margin: 0;
  padding-right: 20px;

  color: #f1f1f1;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 60px;
  text-transform: uppercase;
}

.main-buttons {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;

  > li {
    cursor: pointer;

    > a:not(.hide-menu) {
      display: flex;
      height: inherit;
      width: inherit;
    }
  }
}

.humburger {
  position: absolute;
  top: 21px;
  right: 18px;
  width: 26px;
  height: 18px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  pointer-events: none;

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0;
      transform-origin: left center;
    }

    &:nth-child(2) {
      top: 8px;
      transform-origin: left center;
    }

    &:nth-child(3) {
      top: 16px;
      transform-origin: left center;
    }
  }
}

.main-buttons__menu:hover {
  .humburger span {
    &:nth-child(2) {
      transform: scaleX(0.75);
    }

    &:nth-child(3) {
      transform: scaleX(0.5);
    }
  }
} 



// Fixed
.top-menu {
  position: relative;
  z-index: 100;
  transform: translate3d(0,0,0);
}

.header__page-info {
  margin-top: 2.3125em;
}

.header__pagename {
  margin: 0 0 .83334em;

  font-weight: 700;
  font-size: 3.75rem;
  line-height: .8;
  color: #fff;
}


.main-tel {
  display: flex;
  align-items: center;
  transition: .15s ease;

  svg {
    display: block;
    width: 17px;
    height: 17px;
    margin-right: 10px;
  }

  span {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
  }

  &--hidden {
    opacity: 0;
    visibility: hidden;
  }
}