mixin head(title)
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="theme-color", content="#2f82b2")
    title #{title}
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto+Slab:300,400,700&amp;subset=cyrillic", rel="stylesheet")
    link(href="../app/main.css", rel="stylesheet")
