.main-about {
  padding: 10em 0 11.875em;
  text-align: center;
}

.main-about__header {
  margin-bottom: .5em;
  color: #8cc63f;
}

.main-about__text {
  margin: 0 0 1.8em;
  color: #404040;
  font-size: 1.3125em;
  font-weight: 700;
}

@media only screen and (max-width: 1024px) {
  .main-about {
    padding: 5em 0 10.625em;
  }

  .main-about__header {
    margin-bottom: 1em;
    line-height: 1;
  }

  .main-about__text {
    font-size: 1rem;
    margin-bottom: 3.125em;
  }
}