section.main-about
    .template-width
        h2.main-about__header О компании Megamir it
        p.main-about__text Бла бла бла бомбезный офер о компании Megamir it
        +button("dist/html/about.html", "подробнее о нас")(class="button button--green button--center")