.footer {
  padding: 50px 0;
  background-color: #f1f1f1;
}

.footer__top > .grid__col{
  &:first-child {
    border-right: 1px solid #a6acbc;
    padding-right: 45px;
  }

  &:last-child {
    padding-left: 20px;
  }
}

.footer__logo {
  display: flex;
  align-items: flex-start;

  svg {
    margin-right: 10px;
    width: 52px;
    height: 60px;
  }

  span {
    margin-top: 15px;
    color: #454552;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
  }
}

.footer__copy,
.footer__contact {
  color: #454552;
}

.footer__copy {
  margin: 20px 0 30px;
  font-size: 0.75rem;
  line-height: 1.6666;
}

.footer__contact {
  span {
    display: block;
    line-height: 1;
  }
}

.footer__city,
.footer__num,
.footer__street {
  font-weight: 600;
}

.footer__city {
  margin-bottom: 12px;
  font-size: 0.625rem;
  text-transform: uppercase;
}

.footer__num {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.footer__email {
  font-size: 1.125rem;
  margin-bottom: 30px;
}

.footer__street {
  margin-bottom: 22px;
}

.footer__year {
  margin: 0;
  color: #a6acbc;
  font-size: 0.875rem;
  line-height: 1;
}



// Footer services

.footer__services-title {
  margin: 0 0 1.66em;
  color: #454552;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1;
}

.footer__services {
  margin: 0 -50px 0 0;
  padding: 0;

  list-style: none;

  column-count: 2;

  li {
    margin-right: 50px;
    margin-bottom: 0.75rem;
  }

  a {
    display: block;
    color: #454552;
    font-size: 0.75rem;
    line-height: 1.5;
    transition: color .15s ease-in-out;

    &:hover {
      color: $red;
    }
  }
}


// Developer logo

.footer__dev {
  display: flex;
  align-items: center;
  margin-top: 100px;

  svg {
    width: 150px;
    min-width: 150px;
    height: 36px;
    margin-right: 10px;
  }

  path,
  span {
    transition: .15s ease-in-out;
  }

  path {
    fill: #a6acbc;
  }

  span {
    color: #a6acbc;
    font-size: 0.875rem;
    line-height: 1.25;
  }

  &:hover {
    path {
      fill: #454552;
    }

    span {
      color: #454552;
    }
  }
}