footer
    //- include ../../components/to-top/to-top
    .footer
        .footer__wrap.template-width
            .footer__top.grid-row
                .grid-col-3
                    a(href="index.html").footer__logo
                        include ../../images/svg/main-logo.svg
                        span ГлавТранс

                    p.footer__copy.
                        ООО «ГлавТранс» © 2017 #[br]
                        Все права сохранены. #[br]
                        Использование материалов сайта без
                        согласования запрещено.

                    .footer__contact
                        span.footer__city Иркутск
                        span.footer__num 8 3952 763 100
                        span.footer__email glavtrans@inbox.ru
                        span.footer__street ул. Байкальская, 295/2

                    p.footer__year 2008-2017

                .grid-col-6
                    h3.footer__services-title 
                        //- a(href="/dist/html/services.html") Услуги 
                        a.menu__link(href="services.html").
                                #[span.link__layer.link__layer--footer(data-text="Услуги")]
                                Услуги

                    ul.footer__services
                        li
                            a(href="services-item.html").
                                Доставка лесопродукции
                        li
                            a(href="services-item.html").
                                Лесная деятельность
                        li
                            a(href="services-item.html").
                                Доставка техники
                        li
                            a(href="services-item.html").
                                Доставка металлоконструкций
                        li
                            a(href="services-item.html").
                                Доставка сыпучих грузов
                        li
                            a(href="services-item.html").
                                Доставка негабаритных грузов
                        li
                            a(href="services-item.html").
                                Контейнерные перевозки
                        li
                            a(href="services-item.html").
                                Предоставление подвижного состава
                        li
                            a(href="services-item.html").
                                Разработка и согласование эскизов и схем
                        li
                            a(href="services-item.html").
                                Выполнение функций грузоотправителя и 
                                грузополучателя
                        li
                            a(href="services-item.html").
                                Мультимодальные перевозки (смешанные 
                                виды транспорта)
                        li
                            a(href="services-item.html").
                                Услуги по оптимизации сокращения срока 
                                доставки груза до станции назначения
                        li
                            a(href="services-item.html").
                                Консультационные, платежно-финансовые 
                                услуги по перевозкам и оформлению 
                                документов
                        li  
                            a(href="services-item.html").
                                Аутсорсинг транспортных услуг

                .grid-col-3
                    ul.hidden-nav.hidden-nav--footer
                        li
                            a.menu__link(href="info.html").
                                #[span.link__layer.link__layer--footer(data-text="Полезная информация")]
                                Полезная информация

                        li
                            a.menu__link(href="documents.html").
                                #[span.link__layer.link__layer--footer(data-text="Документы")]
                                Документы


                        li
                            a.menu__link(href="reviews.html").
                                #[span.link__layer.link__layer--footer(data-text="Отзывы")]
                                Отзывы

                        li
                            a.menu__link(href="company.html").
                                #[span.link__layer.link__layer--footer(data-text="О компании")]
                                О компании

                        li
                            a.menu__link(href="history.html").
                                #[span.link__layer.link__layer--footer(data-text="История компании")]
                                История компании

                        li
                            a.menu__link(href="rules.html").
                                #[span.link__layer.link__layer--footer(data-text="Правила")]
                                Правила

                        li
                            a.menu__link(href="contacts.html").
                                #[span.link__layer.link__layer--footer(data-text="Контакты")]
                                Контакты
     
                        

                    a.footer__dev(href="https://mmit.ru/", target="_blank")
                        include ../../images/svg/mmit.svg
                        span Разработка сайта


                

script(src="../app/vendor.js")
script(src="../app/main.js")
