include ../button/button
div.contacts-form
    .contacts-form__wrap
        h4.contacts-form__heading Обратная связь

        form.contacts-form__form#contacts-form
            div.contacts-form__step
                label(for="contacts-name") Ваше имя
                input(type="text", id="contacts-name")
                span.contacts-form__icon
                    span.contacts-form__bad
                        include ../../images/svg/bad.svg
                    span.contacts-form__good
                        include ../../images/svg/good.svg
            div.contacts-form__step
                label(for="contacts-tel") Ваш телефон
                input(type="tel", id="contacts-tel")
                span.contacts-form__icon
                    span.contacts-form__bad
                        include ../../images/svg/bad.svg
                    span.contacts-form__good
                        include ../../images/svg/good.svg
            div.contacts-form__step
                label(for="contacts-com") Ваш комментарий
                textarea(id="contacts-com")
                span.contacts-form__icon
                    span.contacts-form__bad
                        include ../../images/svg/bad.svg
                    span.contacts-form__good
                        include ../../images/svg/good.svg
            +button("", "отправить")(class="contacts-form__submit button button--green button--without-arrow", type="submit", id="contacts-form-submit")


        div.success-message#success-contacts-message(style="display: none;")
            h3.success-message__header #[span#success-contacts-name Иван], Ваша заявку принята!
            p.success-message__text Мы свяжемся с Вами в ближайшее время