include ../button/button
div.services-form
    .services-form__wrap
        h4.services-form__heading Остались вопросы?
        p.services-form__p Оставьте свои контактные данные, мы свяжемся с Вами и бесплатно проконсультируем

        form.services-form__form#services-form
            div.services-form__step
                label(for="services-name") Ваше имя
                input(type="text", id="services-name")
                span.services-form__icon
                    span.services-form__bad
                        include ../../images/svg/bad.svg
                    span.services-form__good
                        include ../../images/svg/good.svg
            div.services-form__step
                label(for="services-tel") Ваш телефон
                input(type="tel", id="services-tel")
                span.services-form__icon
                    span.services-form__bad
                        include ../../images/svg/bad.svg
                    span.services-form__good
                        include ../../images/svg/good.svg
            div.services-form__step
                label(for="services-com") Название организации
                input(type="text", id="services-com")
                span.services-form__icon
                    span.services-form__bad
                        include ../../images/svg/bad.svg
                    span.services-form__good
                        include ../../images/svg/good.svg
            +button("", "отправить")(class="services-form__submit button button--green button--without-arrow", type="submit", id="services-form-submit")


        div.success-message#success-services-message(style="display: none;")
            h3.success-message__header #[span#success-services-name Иван], Ваша заявку принята!
            p.success-message__text Мы свяжемся с Вами в ближайшее время