.history.template-width
    h1.h-line История компании

    .history__content
        ul.tabs.grid-row
            li.grid-col-4
                a(href="company.html") О компании
            li.grid-col-4
                a.active(href="history.html") История компании
            li.grid-col-4
                a(href="rules.html") Правила

        .grid-row
            .grid-col-8
                h2 История нашей компании
                p.
                    Хроника успешных событий, сопровождающих развитие Транспортно-экспедиционной 
                    компании ООО «ГлавТранс», насчитывает уже более девяти лет. Компания создана 
                    в апреле 2008 года с целью организации и предоставления полного комплекса услуг 
                    по перевозке любых грузов с персональным подходом к каждому клиенту по выгодным 
                    тарифам с максимальной точностью и эффективностью.

                p.
                    С первых же дней создания, несмотря на кризисные времена 2008 года, молодое 
                    транспортное предприятие, стало активно развиваться, заключая долгосрочные, 
                    действующие до настоящего времени контракты с крупными компаниями, успешные 
                    договора с прочими организациями.

                p.
                    С каждым годом компания расширяла географию своей деятельности и выросла до надежного, 
                    крепкого, качественного, профессионального лидера транспортного сегмента рынка.

                p.
                    Нашими Клиентами в сфере перевозок железнодорожным транспортом являются 
                    крупные фабрики, заводы-производители, известные торговые дома, а также 
                    частные клиенты. Мы всегда стремимся установить доверительные отношения 
                    с нашими клиентами. Каждый человек, обратившийся в железнодорожную 
                    транспортную компанию «ГлавТранс» — становится нашим деловым партнером и другом, 
                    желание которого никогда не останется без внимания сотрудников компании.

                p.
                    Опытная команда сотрудников, развитая логистическая сеть, большое количество 
                    надежных российских и международных партнеров — все это позволяет нас гарантировать 
                    услуги высшего качества.
                