include ../button/button
div.portfolio-form
    .template-width.portfolio-form__wrap
        h3.portfolio-form__heading Получить бесплатную консультацию по внедрению Битрикс24

        form.portfolio-form__form#portfolio-form
            div.portfolio-form__step#port-step-1
                label(for="port-name") Ваше имя
                input(type="text", id="port-name")
                span.portfolio-form__icon
                    span.portfolio-form__bad
                        include ../../images/svg/bad.svg
                    span.portfolio-form__good
                        include ../../images/svg/good.svg
            div.portfolio-form__step#port-step-2
                label(for="port-tel") Ваш телефон
                input(type="tel", id="port-tel")
                span.portfolio-form__icon
                    span.portfolio-form__bad
                        include ../../images/svg/bad.svg
                    span.portfolio-form__good
                        include ../../images/svg/good.svg
            +button("", "оставить заявку")(class="portfolio-form__submit button button--green button--without-arrow", type="submit", id="portfolio-form-submit")


        div.success-message#success-portfolio-message(style="display: none;")
            h3.success-message__header #[span#success-portfolio-name Иван], Ваша заявку принята!
            p.success-message__text Мы свяжемся с Вами в ближайшее время