section.blog-item.template-width
    .blog-item__main
        .blog-item__header
            h2.blog-item__title Опыт не важен, если есть интересная цель
            .blog-item__meta
                span.blog-item__meta-date 10.01.2017
                span.blog-item__meta-author
                    span.blog-item__meta-author-image(style="background-image: url('../images/blog/author.jpg')")
                    span.blog-item__meta-author-name Иван Иванов
                span.blog-item__meta-likes
                    include ../../images/svg/like-of-filled-heart.svg
                    span 100
                span.blog-item__meta-views
                    include ../../images/svg/eye.svg
                    span 1025
                span.blog-item__meta-comments
                    include ../../images/svg/comment.svg
                    span 9


        .blog-item__body
            img.blog-item__img(src="../images/news/pug.jpg")
            p.blog-item__p.
                У меня дома стоит Amazon’s Echo, Wi-Fi колонка, которая постоянно слушает.
                Она отлично распознает мою речь, даже когда я кричу из соседней комнаты.
                Echo стала центром нашего семейного досуга. И заставила меня задуматься о том,
                как изменится дизайн и природа взаимодействия пользователя с ним.
            h3.blog-item__content-header Что в итоге получилось?
            p.blog-item__p.
                Но через пару лет пришли хулители из Java (которая не Script) и рассказали,
                что все, что мы делаем — дерьмо. И на сервере код наш — дерьмо. И на клиенте — дерьмо.
                И браузеры наши — дерьмо. И вся веб-разработка дерьмо. Впрочем, доля горькой
                правды в этом была. Браузеры того времени и впрямь были удивительными механизмами.

        .blog-item__footer
            span.blog-item__footer-author
                span.blog-item__footer-author-image(style="background-image: url('../images/blog/author-big.jpg')")
                span.blog-item__footer-author-name Иван Иванов
            span.blog-item__likes
                button.blog-item__like-plus#blog-like-button
                    include ../../images/svg/like-of-filled-heart.svg
                span 100

            include ../social-block/social-block
            include ../comment/comment

    .blog-item__aside
        h4.blog-item__aside-title Популярные статьи
        .blog-aside-item__popular
            figure.blog-aside__item
                a.blog-aside__img(href="/dist/html/blog-item.html")
                    img(src="../images/main/company-news-image.jpg")
                figcaption
                    .blog-aside__top
                        span.blog-aside__date 10.01.2017
                    a.blog-aside__name(href="/dist/html/blog-item.html").
                        Отчет о проведенном семинаре по
                        Битрикс 24 в Иркутске Отчет о проведенном
                        семинаре по Битрикс 24 в Иркутске


            figure.blog-aside__item
                a.blog-aside__img(href="/dist/html/blog-item.html")
                    img(src="../images/main/company-news-image.jpg")
                figcaption
                    .blog-aside__top
                        span.blog-aside__date 10.01.2017
                    a.blog-aside__name(href="/dist/html/blog-item.html").
                        Отчет о проведенном семинаре по
                        Битрикс 24 в Иркутске Отчет о проведенном
                        семинаре по Битрикс 24 в Иркутске

            figure.blog-aside__item
                a.blog-aside__img(href="/dist/html/blog-item.html")
                    img(src="../images/main/company-news-image.jpg")
                figcaption
                    .blog-aside__top
                        span.blog__date 10.01.2017
                    a.blog-aside__name(href="/dist/html/blog-item.html").
                        Отчет о проведенном семинаре по
                        Битрикс 24 в Иркутске Отчет о проведенном
                        семинаре по Битрикс 24 в Иркутске