script(src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full")
.contacts.template-width
    include ../callback/callback

    h1.h-line Контакты

    h4 Офис в Иркутске
    p Юридический адрес: РФ, 664050, г. Иркутск, ул. Байкальская, д. 295/2
    p Почтовый адрес: Рф, 664081, г. Иркутск, ОПС № 81, а/я 154
    p 8 (3952) 763 100
    p glavtrans@inbox.ru

    .map#map(style="height: 400px")

    h4 Реквизиты компании ООО «ГлавТранс»
    p.
        ИНН: 3811119651 #[br]
        КПП: 381101001 #[br]
        ОГРН: 1083811002660 #[br]
        ОКПО: 83517953 #[br]
        Банковские реквизиты: Р/с 40702810337110005410, Филиал № 5440 ВТБ 24 (ПАО) #[br]
        К/с 30101810450040000751 открытый в Банке России, БИК 045004751