.history.template-width
    h1.h-line История компании

    .history__content
        ul.tabs.grid-row
            li.grid-col-4
                a(href="company.html") О компании
            li.grid-col-4
                a(href="history.html") История компании
            li.grid-col-4
                a.active(href="rules.html") Правила


        .grid-row
            .grid-col-8
                h2 Правила нашей компании
                ul.u-list
                    li.
                        Мы дорожим репутацией нашей компании, строго следуем правилам деловой 
                        этики и действуем в рамках правовых норм и законодательства 
                        Российской Федерации;

                    li.
                        Мы ориентируемся на потребности клиентов нашей компании и гарантируем 
                        высокое качество продукции и услуг;

                    li.
                        Мы уважаем личную свободу, права и достоинство человека, относимся к 
                        друг другу с доверием. Мы не допускаем любые формы дискриминации, 
                        у нас равные возможности для инициативы и карьерного роста;

                    li.
                        Мы действуем исключительно в интересах компании;

                    li.
                        Мы избегаем любого конфликта интересов;

                    li.
                        Мы честно ведем свой бизнес и в своей деятельности используем только 
                        законные и этичные методы;

                    li.
                        Мы работаем только с надежными партнерами и стремимся к долгосрочному 
                        и успешному сотрудничеству с ними;

                    li.
                        Мы бережно относимся к имуществу, средствам, ресурсам компании, 
                        используем их максимально эффективно и исключительно в рабочих целях;
