.slider,
.image-slider,
.svg-layer,
.text-slider {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: rgba(51, 51, 61, 1);
}

.image-slider div {
    height: 100%;
}

.image-slider__item {
    background-size: cover;
    background-position: center;
}

.svg-layer {
    top: 130px;
    height: calc(95% - 130px);

    svg {
        height: 100%;
        max-width: 99.0625%;
        display: block;
        margin: 0 auto;
    }
}


.text-slider {
    right: 0;

    display: flex;
    align-items: center;
}

.text-slider__cont,
.text-slider__controls {
    max-width: 905px;
    margin-left: auto;
}

.text-slider__cont {
    top: 0;
    bottom: 0;
    margin-right: 70px;
    padding-left: 100px;
    min-height: 0;
    min-width: 0;
    opacity: 0;
    transition: opacity .2s ease-out;

    &.slick-initialized {
        opacity: 1;
    }

    & * {
        overflow: visible;
    }
}

.text-slider__controls {
    position: absolute;
    right: 0;
    padding-left: 30px;
    bottom: 10%;
}

.text-slider__title-main {
    position: relative;
 
    margin: 0 0 1em;

    color: #f1f1f1;
    font-size: 3.125em;
    line-height: 0.8;
    text-transform: uppercase;

    &:before {
        position: absolute;
        right: 100%;
        bottom: 1px;

        display: block;
        width: 70px;
        height: 5px;
        margin-right: 30px;

        background-color: #d90748;

        content: "";
    }
}

.text-slider__title-add {
    margin: 0 0 2em;

    color: #f1f1f1;
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.5;

}

@media only screen and (max-width: 1440px) {
    .text-slider__cont {
        font-size: 0.875rem;
    }
}


// Controls

@keyframes dot-background {
    0% { transform: scale(1) }
    100% { transform: scale(2) }
}

@keyframes dot-show {
    0% { opacity: 0 }
    110% { opacity: 1 }
}

.text-slider__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .slick-dots {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16px;
            height: 16px;
            margin-right: 20px;
        }

        button {
            width: 16px;
            height: 16px;
            padding: 0;

            font-size: 0;

            border: 2px solid #fff;
            background-color: #33333d;
            border-radius: 50%;
            cursor: pointer;

            opacity: 0.6;
            transition: .2s ease-in-out;

            &:hover {
                opacity: 1;
            }

            &:focus {
                outline: none;
            }
        }

        li.slick-active {
            button {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                border-color: transparent;
                opacity: 1;

                &:after,
                &:before {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;

                    display: block;
                    width: 10px;
                    height: 10px;
                    margin: auto;

                    background-color: #d90748;
                    border-radius: 50%;

                    content: "";
                }

                &:before {
                    animation: dot-background .3s ease-out forwards;
                    opacity: .4;
                }

                &:after {
                    animation: dot-show .2s ease-out forwards;   
                }
            }
        }
    }
}

.text-slider__arrows {
    display: flex;
}

.text-slider__arrows .slick-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    margin-left: 15px;

    font-size: 0;
    color: transparent;

    border: 2px solid #ffffff;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;

    opacity: 0.65;
    transition: .2s ease-in-out;

    &:hover {
        opacity: 1;
    }

    &:focus {
        outline: none;
    }

    &:after {
        display: block;
        height: 13px;
        width: 13px;

        background: url('../images/svg/back.svg');

        content: "";
    }

    &.slick-next:after {
        transform: rotate(180deg) translate3d(0,0,0);
        transform-origin: 50% 50%;
        margin-left: 2px;
    }
}
