include ../button/button

.slider.template-width
    .slider__cont
        .slider__el(data-color="#0066a1")
            .slider__content
                p.slider__title-main.
                    Комплексно внедряем
                    облачную и коробочную
                    версии Битрикс 24
                p.slider__title-add.
                    Настраиваем, пишем инструкции, обучаем
                    сотрудников
                +button("dist/html/service-item.html", "перейти к услуге")(class="button")
            img.slider__img(src="../images/main/slider-image.png")
        .slider__el(data-color="#4990e2")
            .slider__content
                p.slider__title-main.
                    Настраиваем Битрикс24

                p.slider__title-add.
                    Настраиваем, пишем инструкции, обучаем
                    сотрудников
                +button("dist/html/service-item.html", "перейти к услуге")(class="button")
            img.slider__img(src="../images/main/slider-image.png")
        .slider__el(data-color="#2f536b")
            .slider__content
                p.slider__title-main.
                    Пишем инструкции и
                    обучаем работе с
                    Битрикс24

                p.slider__title-add.
                    Настраиваем, пишем инструкции, обучаем
                    сотрудников
                +button("dist/html/service-item.html", "перейти к услуге")(class="button")
            img.slider__img(src="../images/main/slider-image.png")
        .slider__el(data-color="#0c7cac")
            .slider__content
                p.slider__title-main.
                    Моделируем и
                    автоматизируем
                    бизнес процессы

                p.slider__title-add.
                    Настраиваем, пишем инструкции, обучаем
                    сотрудников
                +button("dist/html/service-item.html", "перейти к услуге")(class="button")
            img.slider__img(src="../images/main/slider-image.png")
    .slider__controls
