include ../button/button

.slider
    .image-slider
        .image-slider__item(style="background-image: url('../images/slider/1.jpg');")
        .image-slider__item(style="background-image: url('../images/slider/2.jpg');")
        .image-slider__item(style="background-image: url('../images/slider/3.jpg');")


    .svg-layer
        include ../path/path.svg 

    .text-slider.template-width
        .text-slider__cont
            .text-slider__el
                .text-slider__content
                    p.text-slider__title-main.
                        Контейнерные перевозки
                    p.text-slider__title-add.
                        Мы ориентируемся на потребности клиентов нашей компании и гарантируем 
                        высокое качество услуг
                    +button("services-item.html", "подробнее")(class="btn btn--primary btn--fix-width")

            .text-slider__el
                .text-slider__content
                    p.text-slider__title-main.
                        Перевозка промышленной техники
                    p.text-slider__title-add.
                        Мы ориентируемся на потребности клиентов нашей компании и гарантируем 
                        высокое качество услуг
                    +button("services-item.html", "подробнее")(class="btn btn--primary btn--fix-width")

            .text-slider__el
                .text-slider__content
                    p.text-slider__title-main.
                        Перевозка лесных грузов
                    p.text-slider__title-add.
                        Мы ориентируемся на потребности клиентов нашей компании и гарантируем 
                        высокое качество услуг
                    +button("services-item.html", "подробнее")(class="btn btn--primary btn--fix-width")

        .text-slider__controls.template-width
            .text-slider__arrows
